* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

#background {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

h1 {
  text-align: center;
  font-family: 'UnifrakturCook', cursive;
  font-size: 2em;
  font-weight: 799;
  padding-top: 0.8em;
  text-shadow: 0 0 5px white,  0 0 10px white, 0 0 30px white;
}

@media (min-width: 375px) {
  h1 {
    font-size: 2.4em;
    padding-top: 0.5em;
  }
}

@media (min-width: 425px) {
  h1 {
    font-size: 2.8em;
    font-weight: 900;
    padding-top: 0.3em;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 4em;
    padding-top: 0.4em;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 5em;
  }
}

@media (min-width: 1366px) {
  h1 {
    font-size: 6em;
    padding-top: 0.55em;
  }
}

@media (min-width: 2560px) {
  h1 {
    font-size: 8em;
    padding-top: 1em;
  }
}

main {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 150vh;
}

@media (min-width: 768px) {
  main {
    margin-top: 3em;
  }
}

@media (min-width: 1024px) {
  main {
    margin-top: 4em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 1366px) {
  main {
    margin-top: 5em;
  }
}

@media (min-width: 2560px) {
  main {
    margin-top: 12em;
  }
}

main form {
  margin-top: 2em;
  margin-bottom: 1em;
}

@media (min-width: 425px) {
  main form {
    margin-top: 3em;
  }
}

@media (min-width: 1024px) {
  main form {
    width: 350px;
    min-height: 300px;
  }
}

@media (min-width: 1366px) {
  main form {
    width: 500px;
    min-height: 300px;
  }
}

@media (min-width: 2560px) {
  main form {
    width: 900px;
    min-height: 300px;
  }
}

main form #text-input {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  height: 10em;
  width: 80%;
  -webkit-box-shadow: 0 0 10px black, 0 0 20px #5c5b59, 0 0 60px #c2c0be;
          box-shadow: 0 0 10px black, 0 0 20px #5c5b59, 0 0 60px #c2c0be;
  overflow: auto;
}

@media (min-width: 1024px) {
  main form #text-input {
    height: 100%;
    width: 100%;
  }
}

main #button button {
  width: 7em;
  background-color: #8b3a3a;
  color: white;
  padding: 1em;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  text-shadow: 0 0 4px black;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px black, 0 0 20px #5c5b59, 0 0 60px #c2c0be;
          box-shadow: 0 0 10px black, 0 0 20px #5c5b59, 0 0 60px #c2c0be;
  cursor: pointer;
}

@media (min-width: 1024px) {
  main #button button {
    margin-top: 4em;
  }
}

@media (min-width: 1024px) {
  main #button button:hover {
    background-color: #34757a;
    font-size: 1.2em;
  }
}

main #translation-container {
  margin-top: 2em;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  main #translation-container {
    margin-top: 3em;
    width: 350px;
    min-height: 300px;
  }
}

@media (min-width: 1366px) {
  main #translation-container {
    width: 500px;
    min-height: 300px;
  }
}

@media (min-width: 2560px) {
  main #translation-container {
    width: 900px;
    min-height: 300px;
  }
}

main #translation-container p {
  width: 80%;
  overflow: auto;
  padding: 1em;
  padding-bottom: 2em;
  background: #c8bbb4;
  color: #8b3a3a;
  font-size: 1em;
  font-weight: bold;
  -webkit-box-shadow: 0 0 10px black, 0 0 20px #5c5b59, 0 0 60px #c2c0be;
          box-shadow: 0 0 10px black, 0 0 20px #5c5b59, 0 0 60px #c2c0be;
}

@media (min-width: 1024px) {
  main #translation-container p {
    height: 100%;
    width: 100%;
    font-size: 1.5em;
  }
}
/*# sourceMappingURL=style.css.map */