$gen-font: Helvetica, sans-serif;
$mob-medium: 375px;
$mob-large: 425px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1366px;
$largescreen: 2560px;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#background {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

h1 {
  text-align: center;
  font-family: 'UnifrakturCook', cursive;
  font-size: 2em;
  font-weight: 799;
  padding-top: 0.8em;
  text-shadow: 0 0 5px white, 
                0 0 10px white,
                0 0 30px white; 
  
  @media (min-width: $mob-medium) {
    font-size: 2.4em;
    padding-top: 0.5em;
  }
  @media (min-width: $mob-large) {
    font-size: 2.8em;
    font-weight: 900;
    padding-top: 0.3em;
  }
  @media (min-width: $tablet) {
    font-size: 4em;
    padding-top: 0.4em;
  }
  @media (min-width: $laptop) {
    font-size: 5em;
  }
  @media (min-width: $desktop) {
    font-size: 6em;
    padding-top: 0.55em;
  }
  @media (min-width: $largescreen) {
    font-size: 8em;
    padding-top: 1em;
  }
}

  main {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-height: 150vh;
    @media (min-width: $tablet) {
      margin-top: 3em;
    }
    @media (min-width: $laptop) {
      margin-top: 4em;
      flex-direction: row;
      justify-content: space-evenly;
    }
    @media (min-width: $desktop) {
      margin-top: 5em;
    }
    @media (min-width: $largescreen) {
      margin-top: 12em;
    }

  form {
    margin-top: 2em;
    margin-bottom: 1em;

    @media (min-width: $mob-large) {
      margin-top: 3em;
    }
    @media (min-width: $laptop) {
      width: 350px;
      min-height: 300px;
    }
    @media (min-width: $desktop) {
      width: 500px;
      min-height: 300px;
    }
    @media (min-width: $largescreen) {
      width: 900px;
      min-height: 300px;
    }
    

    #text-input {
      font-family: 'Oswald', sans-serif;
      text-align: center;
      height: 10em;
      width: 80%;
      box-shadow: 0 0 10px black, 
      0 0 20px rgb(92, 91, 89),
      0 0 60px rgb(194, 192, 190); 
      overflow: auto;
      @media (min-width: $laptop) {
        height: 100%;
        width: 100%;
      }
    }
  }

  #button {
    button {
      width: 7em;
      background-color: #8b3a3a;
      color: white;
      padding: 1em;
      font-family: 'Oswald', sans-serif;
      font-size: 1em;
      text-shadow: 0 0 4px black;
      border-radius: 10px;
      box-shadow: 0 0 10px black, 
      0 0 20px rgb(92, 91, 89),
      0 0 60px rgb(194, 192, 190); 
      cursor: pointer;
      @media (min-width: $laptop) {
        margin-top: 4em;
      }
    }
    @media (min-width: $laptop) {
      button:hover {
        background-color: #34757a;
        font-size: 1.2em;
      }
  }
  }



  #translation-container {
    margin-top: 2em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: $laptop) {
      margin-top: 3em;
      width: 350px;
      min-height: 300px;
    }
    @media (min-width: $desktop) {
      width: 500px;
      min-height: 300px;
    }
    @media (min-width: $largescreen) {
      width: 900px;
      min-height: 300px;
    }

    p {
      width: 80%;
      overflow: auto;
      padding: 1em;
      padding-bottom: 2em;
      background: rgb(200, 187, 180);
      color: #8b3a3a;
      font-size: 1em;
      font-weight: bold;
      box-shadow: 0 0 10px black, 
      0 0 20px rgb(92, 91, 89),
      0 0 60px rgb(194, 192, 190); 

      @media (min-width: $laptop) {
        height: 100%;
        width: 100%;
        font-size: 1.5em;
      }
    }
  }
}



